.izquierda{
	text-align: right;
}

.menu{
    overflow:hidden;
    width 	: 730px;
    display : table;
    /*border 	: 1px solid black;*/
}

.menu .left{
    width	: 	50%
    float	:	left;
    display : 	table-cell; 
    text-align: center;     
}


.menu .right{
    width	: 	50%
    float	:	left;
    border  :	1px solid black; 
    display : 	table-cell; 
    text-align: center; 
    border-radius: 4px ;    
}

.menu .left h1{
	font-size:  1.2em;
	/*border   :  1px solid red;*/
}
.menu .left h3{
	font-size:  0.8em;
	font-weight: normal;
	/*border   :  1px solid red;*/
}
.menu .left h4{
	font-size:  0.8em;
	font-weight: normal;	
	/*border: 1px solid blue;*/
}

.top .det1{
	width: 718px;
	font-size: 0.8em;
	margin-top: 5px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 5px;

}
.top .det1 p{
	margin-top: 1px;
	margin-bottom: 3px;
}

.det2{
	margin-top: 5px;
    overflow:hidden;
    width 	: 730px;
    display : table;
	border: 1px solid #000;
	border-radius: 4px;
    font-size: 0.8em;
    padding: 5px;
}

.det2 .d1,.det2 .d2,.det2 .d3{
    width	: 	32%
    float	:	left;
    display : 	table-cell;     
}

table {
    border-collapse: collapse;
    width 	: 730px;
	margin-top: 15px;
    font-size: 0.7em;    
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.titulo{
	text-align: center;
}
.codigo{
	width: 50px;
}
.descripcion{
	width: 300px;
}
.unidad{
	width: 40px;
}
.cantidad{
	width: 40px;
}
.precio{
	width: 80px;
}
.importe{
	width: 100px;
}


.totales{
	margin-top: 10px;
    overflow:hidden;
    width 	: 730px;
    display : table;
    /*border 	: 1px solid black;*/
}

.totales .left{
    width	: 	65%
    float	:	left;
    display : 	table-cell;  
   	/*border      : 1px solid red;  */ 
}


.totales .right{
    width	: 	35%
    float	:	left;
    /*border  :	1px solid black; */
    display : 	table-cell; 
      
}

.totales .right p{
	font-size 	: 0.75em;
	margin-top	: 0px;
	margin-bottom 	: 1px;	

}

.totales .right .descripcion{
	display 	: inline-block;
	width 		: 55%;

}
.totales .right .monto{
	display 	: inline-block;
	width 		: 40%;

}

.totales .left .uno{
    display     : inline-block;
    width       : 25%;
}
.totales .left .dos{
    /*border: 1px solid blue;   */ 
    display     : inline-block;
    width       : 70%;
    font-size   : 0.75em;

}
.totales .left .dos p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.totales .left .derecha{
    margin-top: 55px;
}
.totales .left .uno img{
    /*border: 1px solid red;*/
    width: 100px;
    position: absolute;
    top: -87px;

}
footer .observacion{
    border-top: 1px solid #000;
    border-bottom:  1px solid #000;
}
footer .observacion h3 {
    /*border: 1px solid red;*/
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 0.9em;
}
footer .observacion p {
    /*border: 1px solid red;*/
    margin-top: 0px;
    margin-bottom: 2px;    
    font-size: 0.8em;
}
